@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /* overflow: hidden; */
  /* height: 100vh; */
}

/* ---------------------------------------------------------------------------------------------- */

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #333;
}

h2 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 7vmin;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.btn {
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 4vmin;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  white-space: nowrap;
}
.left .btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.right .btn:hover {
  background-color: rgba(87, 84, 236, 0.8);
}

.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 700ms ease-in-out;
}

.left {
  left: 0;
  background-image: url("./images/ps.jpg");
}
.left::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(87, 84, 236, 0.7);
}
.right {
  right: 0;
  background-image: url("./images/xbox.jpg");
}
.right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 43, 43, 0.8);
}

@media (max-width: 768px) {
  h2 {
    font-size: 5vmin;
  }
  .btn {
    font-size: 3vmin;
  }
}
