@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-color: black;
}

/* ------------------------------------------------------------------------------------------------- */

button {
  background-color: purple;
  color: white;
  padding: 20px 30px;
  outline: unset;
  border: unset;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 500ms ease;
  overflow: hidden;
  position: relative;
}
button:hover {
  background-color: rgb(98, 42, 112);
}

button .circle {
  position: absolute;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 250ms forwards ease-in-out;
}

@keyframes scale {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
