@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
/* ---------------------------------------------------------------------------------------------- */

.testimonial-container {
  background-color: #acfff4;
  color: #111;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  position: relative;
}

.fa-quote {
  color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  position: absolute;
  top: 20%;
}

.fa-quote-right {
  left: 5%;
}

.fa-quote-left {
  right: 5%;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 4px;
  width: 100%;
  animation: grow 5s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }

  .fa-quote {
    font-size: 22px;
  }

  .testimonial {
    line-height: 22px;
  }

  .user .user-image {
    height: 50px;
    width: 50px;
  }
  .user .role {
    margin: 6px 0;
  }
}
